<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '56b9191fbb922a6f1b003285');
    t.setAttribute('data-track-path', 'http://gauges.nicolasfouche.com/track.gif');
    t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();

  (function() {
    var hm = document.createElement('script'); hm.type ='text/javascript'; hm.async = true;
    hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g,'/').replace(/-/g,'.');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hm, s);
  })();
</script>
